#header {
    border-bottom: 8px solid #13293D;
    height: 300px;
    background-color: #18435A;
    background-image: url('../img/keys_bridge_2048x600.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    margin-top: 10px;
}

body {
	background-color: #3E92CC;
}

#footer {
	position: absolute;
	bottom: 0;
    border-top: 8px solid #13293D;
    padding-top: 10px;
    padding-bottom: 20px;
    clear: both;
    background-color: #18435A;
    width: 100%;
    height: 60px;
}
