#header {
    border-bottom: 8px solid #13293D;
    padding-top: 20px;
    padding-bottom: 10px;
    clear: both;
    background-color: #18435A;
    color: white;
}

body {
	background-color: #3E92CC;
}

#footer {
    border-top: 8px solid #13293D;
    padding-top: 10px;
    padding-bottom: 20px;
    clear: both;
    background-color: #18435A;
    height: 60px;
}

